body{
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.tab-container{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-container button{
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s
}

.tab:hover{
  background-color: #d6d6d6;
}

.storetitle{
  display: none;
}

form{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ccc;
  padding: 30px;
}

label{
  display: inline-block;
  width: 115px;
  font-weight: bold;
}

.form-row{
  padding: 15px 0;
}

input[type=number], [type=button]{
  width: 115px;
}

input[type=radio]{
  margin-left: 0;
}

select{
  width: 115px;
}

#button{
  margin: 15px 0 15px 72.5px;
}

.resultlabel{
  margin-top: 15px;
}
